<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dongzhe.mycarpool">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/taxi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            =
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".NeedHelp" />
        <activity android:name=".NewPassword" />
        <activity android:name=".DriverMain" />
        <activity android:name=".PassengerMain" />
        <activity
            android:name=".Client"
            android:label="@string/title_activity_client"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>